
/*------PRIMARY COLORS------*/
$primaryViolet: #6F3AFA;
$primaryTile: #00BFA5;
$primaryBlue: #3A8EF6;



/*------SECONDARY COLORS------*/
// $secondaryBlue: #3A8EF6;




/*------NEUTRAL COLORS------*/
$neutralGray: #6C87AE;



/*------SHADOW COLORS------*/
$blueShadow: rgba(65, 132, 247, 0.24);




/*------LINEAR COLORS------*/
$primaryGradient: linear-gradient(to right, $primaryBlue, $primaryViolet);




/*------DARK COLORS------*/
$dark: #031432;



/*------BACKGROUND COLORS------*/
$blueOceanBackground: #F2F7FF;